*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* body{
    background-image: url(../Imagenes/FrenteLaformed.jpg);
    background-repeat:no-repeat;
    background-size: 1400px 1000px;
    background-attachment: fixed;
    background-position: center center;
    font-family: 'Roboto', sans-serif;
} */
.formulario{
    /* background:rgba(112, 88, 88, 0.3); */
    background:rgba(0, 117, 198, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.568);
    color: white;
}
/* .ingresar{
    background: #222A3F;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    color: white;
} */
.logo-img{
    /* margin-top: -40px; */
    margin-bottom: 20px;
}
.logo-img img{
    width: 200px;
    height: 100px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    margin: 0 auto;
    padding: 0;
}
.form-group input{
    border: 0;
    padding-left: 10px;
    border-radius: 5px;
}
.recuperar-contrasena{
    padding: 5px 0;
}
.recuperar-contrasena a{
    color: white;
}
/* .form-group::before{
    font-family: "Font Awesome\ 5 Free";
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
} */
/* .form-group#campo-usuario::before{
    content: "\f007";
} */
/* .form-group#campo-contrasena::before{
    content: "\f007";
} */

.green {
    color: #6f6;
}

.red {
    color: #f33;
}